code/astral.sh
code/extract_partition_file_from_fcc.py
code/FASconCAT_v1.11.pl
code/other/
code/phylogeny.sh
code/polytomy.R
code/polytomy.sh
data/annotation
data/assembly
data/phylogeny/17sp_4
data/phylogeny/17sp_8
data/phylogeny/17sp_13
data/phylogeny/17sp_tar
data/phylogeny/17sp_coalescent.tre
data/phylogeny/17sp_concat.tre
data/qc
data/raw

