code/cleanMe.sh
code/extract_partition_file_from_fcc.py
code/FASconCAT_v1.11.pl
code/other/
data/annotation
data/assembly/cd-hit/BearRiver
data/assembly/cd-hit/BeaverCR
data/assembly/cd-hit/BobtailCR
data/assembly/cd-hit/Bonneville1
data/assembly/cd-hit/Bonneville2
data/assembly/cd-hit/Coastal
data/assembly/cd-hit/Coho
data/assembly/cd-hit/Greenback
data/assembly/cd-hit/Humboldt
data/assembly/cd-hit/Lahontan
data/assembly/cd-hit/LWFBlackCR
data/assembly/cd-hit/Pink
data/assembly/cd-hit/Rainbow
data/assembly/cd-hit/Riogrande
data/assembly/cd-hit/stats.txt
data/assembly/cd-hit/UMCR
data/assembly/cd-hit/Westslope
data/assembly/cd-hit/Yellowstone
data/assembly/cd-hit/transcriptomes/files.txt
data/assembly/cd-hit/transcriptomes/ncbi
data/assembly/combine
data/assembly/isoseq3
data/assembly/spades
data/assembly/transfuse
data/assembly/trim-galore
data/assembly/trinity
data/phylogeny/17sp_4
data/phylogeny/17sp_8
data/phylogeny/17sp_13
data/phylogeny/17sp_tar
data/phylogeny/17sp_coalescent.tre
data/phylogeny/17sp_concat.tre
data/qc
data/raw/illumina
data/raw/ncbi/*.txt
data/raw/ncbi/*.bam
data/raw/ncbi/*.fq.gz
data/raw/pacbio
data/figures
